profiles {
    ukj_cloud {
        docker {
            enabled = true
            runOptions = '--user root'
            }
        process.executor = 'google-lifesciences'
        bucketDir = 'gs://case-tmp-dir/hoelzer-lab_rnaflow'
        params.cloudProcess = true
        google {
            project = 'case-dev-302214'
            zone = 'europe-west1-b,europe-west1-c,europe-west2-b,europe-west2-a'
            lifeSciences.preemptible = true
            lifeSciences.bootDiskSize = 20.GB
            }
        // cloud error strategy
        process.errorStrategy = { task.exitStatus in [14,143,137,104,134,139] ? 'retry' : 'terminate' }
        process.maxRetries = 3
        }

}


process {
    withName: extract_tar_bz2 { container = 'nanozoo/multiqc:1.9--aba729b' }
    withName: multiqc_sample_names { container = 'nanozoo/multiqc:1.9--aba729b' }
    withName: format_annotation_gene_rows { container = 'nanozoo/multiqc:1.9--aba729b' }
    withName: concat_annotation { container = 'nanozoo/multiqc:1.9--aba729b' }
    withName: concat_genome { container = 'nanozoo/multiqc:1.9--aba729b' }
    withLabel: hisat2       { cpus = 48 ; memory = { 70.GB * task.attempt } ; maxRetries = 3 ; 
                                errorStrategy = { task.exitStatus in 134 ? 'retry' : 'terminate' }
                                container = 'nanozoo/hisat2:2.1.0--66dae66' } 
    withLabel: minimap2     { cpus = 8; memory = '8 GB'; container = 'nanozoo/minimap2:2.18--618fb68' } 
    withLabel: python3      { cpus = 8; memory = '8 GB'; container = 'nanozoo/python_rnaseq:3.8--7a7808c' } 
    withLabel: deseq2       { cpus = 20 ; memory = '40 GB'; container = 'nanozoo/deseq2:1.28.0--0df1612' } 
    withLabel: fastp        { cpus = 12 ; memory = '30 GB'; container = 'nanozoo/fastp:0.20.0--78a7c63' } 
    withLabel: fastqc       { cpus = 1 ; memory = '2 GB'; container = 'nanozoo/fastqc:0.11.8--fbfa1d7' } 
    withLabel: subread      { cpus = 14 ; memory = '30 GB'; container = 'nanozoo/subread:2.0.1--713a8e7' } 
    withLabel: multiqc      { cpus = 8; memory = '8 GB'; container = 'nanozoo/multiqc:1.9--aba729b' } 
    withLabel: nanoplot     { cpus = 8; memory = '8 GB'; container = 'nanozoo/nanoplot:1.32.0--1ae6f5d' }
    withLabel: sortmerna    { cpus = 14 ; memory = '30 GB'; container = 'nanozoo/sortmerna:2.1b--ceea1a1' } 
    withLabel: trinity      { cpus = 24 ; memory = '40 GB'; container = 'nanozoo/trinity:2.11.0--3354a71' } 
    withLabel: stringtie    { cpus = 24 ; memory = '40 GB'; container = 'nanozoo/stringtie:2.1.2--93e41f1' } 
    withLabel: busco        { cpus = 8; memory = '8 GB'; container = 'nanozoo/busco:3.0.2--40d1506' } 
    withLabel: dammit       { cpus = 48 ; memory = '48 GB'; container = 'nanozoo/dammit:1.2--b47259e' } 
    withLabel: dammitDB     { cpus = 48 ; memory = '48 GB'; container = 'nanozoo/dammit:1.2--b47259e' }
    withLabel: basic_tools  { cpus = 2 ; memory = '4 GB'; container = 'nanozoo/python_rnaseq:3.8--7a7808c' }
    withLabel: smallTask    { cpus = 2 ; memory = '4 GB' }
}

    