profiles {
    ukj_cloud { 
        docker { enabled = true } 
        process.executor = 'google-lifesciences'
        bucketDir = 'gs://case-tmp-dir/nfcore-rnaseq'
        google {  
            project = 'case-dev-302214'
            zone = 'europe-west1-b'
            lifeSciences.preemptible = true
            //lifeSciences.bootDiskSize = 20.GB
            }       
        // cloud error strategy
        process.errorStrategy = { task.exitStatus in [14,143,137,104,134,139] ? 'retry' : 'terminate' }
        process.maxRetries = 3
        }
}