profiles {
    ukj_cloud {
        docker {
            enabled = true
            runOptions = '--user root'
            }
        process.executor = 'google-lifesciences'
        bucketDir = 'gs://case-tmp-dir/nz-prokaryotic'
        params.cloudProcess = true
        google {
            project = 'case-dev-302214'
            zone = 'europe-west1-b,europe-west1-c,europe-west3-b,europe-west3-a,europe-west4-a'
            lifeSciences.preemptible = true
            lifeSciences.bootDiskSize = 100.GB
            }
        // cloud error strategy
        process.errorStrategy = { task.exitStatus in [14,143,137,104,134,139] ? 'retry' : 'terminate' }
        process.maxRetries = 3

        params.databases = 'gs://database_taxonomy/'
        }
}


